<div class="main_container" style=" height:100vh;" [@fadeAnimation]>
    <section class="text_section" style="margin-top: 40px;">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <h3 class="text_section_title">Summary</h3>
            <div class="text_section_item pb-0">
              <h4>Richard Bun</h4>
              <p><em>Innovative and deadline-driven Software Engineer with 2+ years of experience designing and developing user-centric microservices and systems from initial concepts to final, polished deliverables.</em></p>
              <ul>
                <li>Works well in a fast paced environment.</li>
                <li>Excellent communication skills gained through customer service and team collaboration.</li>
                <li>Excellent team building skills.</li>
                <li>Agile Development &amp; Scrum.</li>
              </ul>
            </div>

            <h3 class="text_section_title">Education</h3>
            <div class="text_section_item">
              <h4>BSc. with Honours in Computer Science</h4>
              <h5>2012 - 2017</h5>
              <p><em>Lassonde School of Engineering - York University</em></p>
              <p><em>Toronto, Canada</em></p>
              <p><em>International Dual Degree Program</em></p>
              <ul>
                <li>Program involves over a year of a studies abroad (Germany and Greece)</li>
                <li>One of only a handful of students to complete the program</li>
              </ul>
            </div>
            <div class="text_section_item">
              <h4>Bsc. in Information Technology</h4>
              <h5>2015 - 2017</h5>
              <p><em>Bonn-Rhein-Sieg University of Applied Sciences</em></p>
              <p><em>Bonn, Germany</em></p>
              <p><em>Part of the dual degree program offered by York University</em></p>

              <li>As of October 2019, the only student in faculty to complete the program.</li>
              <li>Courses taken were in German</li>
              <li>Had an internship at the Fraunhofer Institute of Technology (FIT) in Sankt Augustin, Germany</li>
              <li>Completed an undergraduate thesis as part of program requirements in Crete, Greece</li>

            </div>

            <h3 class="text_section_title">Skills</h3>
            <div class="text_section_item">
              <h4>Operating Systems</h4>
              <ul>
                <li>Linux, OSX, Windows</li>
              </ul>
            </div>

            <div class="text_section_item">
              <h4>System Development</h4>
              <ul>
                <li>Python, Java, Scala, Shell Script</li>
              </ul>
            </div>

            <div class="text_section_item">
              <h4>Web Development</h4>
              <ul>
                <li>Angular, Typescript, JavaScript, NodeJS</li>
              </ul>
            </div>

            <div class="text_section_item">
              <h4>Database Management</h4>
              <ul>
                <li>MongoDB, SQL, Teradata, Lucene, ElasticSearch, RRDTool</li>
              </ul>
            </div>

            <div class="text_section_item">
              <h4>DevOps</h4>
              <ul>
                <li>Git, Jenkins, Openshift Kubernetes, Docker</li>
              </ul>
            </div>

          </div>

          <div class="col-lg-6">
            <h3 class="text_section_title">Professional Experience</h3>
            <div class="text_section_item">
              <h4>Data Engineer</h4>
              <h5>2020 - Present</h5>
              <p><em>Royal Bank of Canada</em></p>
              <p><em>Toronto, Canada</em></p>
              <ul>
                <li>Develop and maintain enterprise data-ingestion pipeline.</li>
                <li>Participate in agile development.</li>
                <li>Design and improve microservices for varying aspects of product.</li>
                <li>Restructure and optimize performance of User Interface.</li>
              </ul>
            </div>
            <div class="text_section_item">
              <h4>Restaurant Server</h4>
              <h5>2019 - 2020</h5>
              <p><em>Amsterdam Brewhouse</em></p>
              <p><em>Toronto, Canada</em></p>
              <ul>
                <li>Felt the need to improve on communication skills. What better way then to speak to multiple customers on a daily basis?</li>
                <li>Cared for up to 30 guests at a given time.</li>
                <li>Shift leader for overseeing and assisting other servers.</li>
                <li>Ensured that all orders were expedited in a timely manner.</li>
                <li>Maintained quality guest comfort and satisfaction throughout entire dining experience.</li>
              </ul>
            </div>
            <div class="text_section_item">
              <h4>Software Engineer Intern</h4>
              <h5>2017 - 2018</h5>
              <p><em>IBM</em></p>
              <p><em>Markham, Canada</em></p>
              <ul>
                <li>Designed automated test cases for performance and regression via jUnit and Selenium.</li>
                <li>Managed 800+ automated test cases and improved the pass rate of previously failing test cases.</li>
                <li>Debugged and packaged fixes for customer PMR's.</li>
                <li>Wxperiment with a alternate indexing architecture in order to apply the possibility of a distributed system via Lucene and ElasticSearch.</li>
                <li>Participated in the Agile software development process, which included daily scrums and two-week iterations.</li>
              </ul>
            </div>
            <div class="text_section_item">
              <h4>Researcher</h4>
              <h5>2016 - 2017</h5>
              <p><em>FORTH Institute of Computer Science</em></p>
              <p><em>Crete, Greece</em></p>
              <ul>
                <li>Undergraduate Thesis</li>
                <li>Analysis of the strengths and weaknesses of a relational and non-relational models created from a semi-structured XML data set on Computer Science publications.</li>
                <li>Established a relational model/database from a large XML dataset via MySQL.</li>
                <li>Established a non-relational model/database from a large XML dataset via MongoDB.</li>
                <li>Implemented qualitative analysis that set to compare query capabilities, restrictions and constraints of the created databases, and modelling complexity.</li>
                <li>Implemented quantitative analysis that set to compare query efficiency and instantiation times.</li>
              </ul>
            </div>
            <div class="text_section_item">
              <h4>Software Engineer Intern</h4>
              <h5>2016 - 2016</h5>
              <p><em>Frauenhofer Institute for Applied Information Technology (FIT)</em></p>
              <p><em>Sankt Augustin, Germany</em></p>
              <ul>
                <li>Designed and implemented databases to monitor network flow data via RRDTool and Python.</li>
                <li>Wrote shell scripts coupled with cron to pull network flow data at varying timespans.</li>
                <li>Translated pulled network data into visual graphs via RRDTool, providing easy-to-view depiction on the overall performance of network.</li>
                <li>Deployed visual graphs onto team's local webserver.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
</div>
