
.main_container {
    background-image: url('https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-repeat: no-repeat;
    overflow: auto;
    background-position: center;
    background-size: cover;

  .center {
    margin-top: 20%;
  }
}
