<div class="main_container" style="height:100vh;" [@fadeAnimation]>
  <section class="text_section" style="margin-top: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="text_section_title">Projects</h3>
          <div class="text_section_item pb-0">
            <h4>Personal Website</h4>
            <p><em>Used as a way to hone my skills and showcase my capabilities.</em></p>
            <u>Some key features:</u>
            <ul>
              <li>Deployed on GitHub Pages</li>
              <li>Designed and developed with Angular involving:
                <ul>
                  <li>Routing</li>
                  <li>Angular Animations</li>
                  <li>Directives</li>
                  <li>Observables</li>
                  <li>Reactive Forms</li>
                  <li>Services</li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="text_section_item">
            <h4>Recipe Book</h4>
            <ul>
              <p><em>A custom web application built as a follow-along project from the Udemy course: <a href="https://www.udemy.com/course/the-complete-guide-to-angular-2" target="_blank">Angular the complete Guide</a> - By Maximillian Schwarzmuller.</em></p>
              <p><em><a href="https://ng-course-recipe-book-3baf4.web.app/" target="_blank">Recipe Book Website</a>. Please contact for valid username and password.</em></p>
              <u>Some key features:</u>
              <ul>
                <li>NgRx</li>
                <li>Routing</li>
                <li>Firebase (as backend and deployment)</li>
                <li>Authentication</li>
                <li>Reactive Forms</li>
                <li>Restful APIs</li>
              </ul>
            </ul>
          </div>

          <h3 class="text_section_title">Tech Certificates</h3>
          <div class="text_section_item">
            <h4>Udemy Courses</h4>
            <ul>
              <li><a href="https://www.udemy.com/certificate/UC-92cce769-92f3-4c4a-bc6f-e21f0174a7c0/" target="_blank">Angular The Complete Guide</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-799c9dfd-d300-4466-a7b5-8f973cb7b072/" target="_blank">Docker Mastery (Kubernetes +Swarm)</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-656cfab9-03a6-46a0-8d98-d58e30770289/" target="_blank">CI / CD DevOps</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-f482ec60-fde4-4b9b-92ee-728f58392980/" target="_blank">Scala Applied</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-caa868ed-9a86-4bbf-b243-c023213daf1f/" target="_blank">Hadoop Hands On</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-98ea5777-bb50-4273-a13e-de458f465399/" target="_blank">Big Data with MapReduce and Hadoop</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-290cb762-7ae2-4aca-abb2-b4c7f8cafa2f/" target="_blank">Spring Framework Master Class</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-TOTUP1S4/" target="_blank">Web Developer Bootcamp</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
