@import '../../../theme.scss';
$primary: map-get($my-custom-theme, primary);
$accent: map-get($my-custom-theme, accent);

.main_container {
  background-image: linear-gradient(mat-color($primary),mat-color($accent));
}

// mat-grid-tile {
//   background: lightblue;
// }

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 50%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}
