<div class="main_container" style="height:100vh;" [@fadeAnimation]>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4" style="margin-top: 30px;">
      <img class="profile-pic" src="/assets/img/profile_pic_website.jpg"  alt="Profile Pic">
      <div class="overlay">
        <div class="description">Hello World</div>
      </div>
      <br/><br/>
      <h3>Who Am I?</h3>
      <hr>
      <p>Born and raised in Toronto, Canada and currently working as a Data Engineer.
        <br/><br/>
        I love tough challenges and have a never ending passion for personal growth. Whether it be through:
      </p>
      <mat-selection-list>
        <mat-list-option checkboxPosition="before" selected>Learning new languages and building new systems</mat-list-option>
        <mat-list-option checkboxPosition="before" selected>Testing my physical limits and capabilities at the gym</mat-list-option>
        <mat-list-option checkboxPosition="before" selected>Experimenting with new recipes at home</mat-list-option>
        <mat-list-option checkboxPosition="before" selected>Expanding world views via reading, travel and new connections</mat-list-option>
      </mat-selection-list>

      <hr>
      <p>Being inquisitive will forever be a part of who I am.</p>

    </div>
  </div>
  <div>
  </div>
</div>

<!-- <div class="main_container" [@fadeAnimation]>
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <mat-card >
        <mat-card-title>Who Am I?</mat-card-title>
        <div style="text-align: center;">
          <img class="profile-pic" src="/assets/img/profile_pic_website.jpg "  alt="Profile Pic">
        </div>
        <mat-card-content>
          <p>
            My name is Richard Bun and I was born and raised in Toronto, Canada.
            I am currently employed as a Software Engineer.
            This website was built as my personal portfolio and is used as an awesome way to apply what I've learned.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm"></div>
  </div>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm"></div>
    <div class="col-sm">
      <mat-card class="cover-div">
        <mat-card-title>What Have I Done?</mat-card-title>
        <mat-card-content>
          <p>
            I have earned a dual degree with a BSc. Computer Science with honours from York University (Canada) and a BSc. Informatik in Hochschule Bonn-Rhein-Sieg (Germany).
            I have done an Exchange in Bonn, Germany, and an undergraduate thesis in Crete, Greece.
          </p>
          <p>
            I have worked a varying roles in different industries. Some of these include:
          </p>
          <ol>
            <li>
              Software Developer
            </li>
            <li>
              Restaurant Server
            </li>
            <li>
              Student Welcome Desk Representative
            </li>
          </ol>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <mat-card class="cover-div">
        <mat-card-title>Why Have I Done It?</mat-card-title>
        <mat-card-content>
          <p>
            Throughout my early years as an undergrad, I felt the need to see more of what the world had to offer, as I had lived under a rock for the majority of my life.
            I figured, what better way to do it then to simultaneously earn a degree and to fully immerse myself in an entirely foreign language?
          </p>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button click="navigateToExperience()">Experience</button>
          <button mat-button>Projects</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-sm"></div>
  </div>
</div> -->
