<div class="main_container" style="height:100vh;" [@fadeAnimation]>
  <div class="row" style="padding: 50px 0px;">
    <div class="col-lg-6"></div>
    <div class="col-lg-4" >
      <img class="profile-pic" src="assets/profile_pic_website.jpg"  alt="Profile Pic">
      <br/><br/>
      <h3>Who Am I?</h3>
      <hr>
      <p>Born and raised in Toronto, Canada and currently working as a Full Stack Developer.
        <br/><br/>
        I love tough challenges and have a never ending passion for personal growth. Whether it be through:
      </p>
      <ul>
        <li>Learning new languages and building new systems</li>
        <li>Testing my physical limits and capabilities at the gym</li>
        <li>Experimenting with new recipes at home</li>
        <li>Expanding world views via reading, travel and new connections</li>
      </ul>

      <hr>
      <p>Being inquisitive will forever be a part of who I am.</p>
    </div>
  </div>
</div>
