.profile-pic{
  text-align: center;
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%;
  height: auto;
}

.main_container {
    background-image: url('https://images.unsplash.com/photo-1487700160041-babef9c3cb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80');
    background-repeat: no-repeat;
    overflow: auto;
    background-position: center;
    background-size: cover;
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

mat-selection-list {
  overflow: auto;
}

